.about {
  padding: 50px 20px;
  text-align: center;
}

.about h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #dd2476;
}

.about-text {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  margin-bottom: 40px;
  color: #444;
}

.about-sections {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.about-box {
  background: #f4f4f4;
  width: 280px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
