.menu-page {
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.menu-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: #dd2476;
  font-weight: bold;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

@media (max-width: 900px) {
  .menu-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479px) {
  .menu-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.food-container {
  width: 100%;
}

.food-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.food-card:hover {
    box-shadow:2px 2px 20px rgb(210, 209, 209);
}

.food-image {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.food-card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.food-card p {
  font-size: 14px;
  color: #555;
}

.food-price {
  font-size: 18px;
  font-weight: bold;
  color: #dd2476;
  margin: 10px;
}

.cart-button {
  background: #dd2476;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.cart-button:hover {
  background: #b91d5b;
}

.food-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:15px;
}


.cart-action{
    display: flex;
    align-items: center;
    gap:8px;
}

.cart-image{
    width:38px;
    height:26px;
    object-fit:scale-down;
}