.footer{
    background-color:rgb(82, 81, 81);
    padding:10px;
    margin-top:30px;
    text-align: center;
    color:rgb(188, 187, 187);
}

.top-footer{
    display: flex;
    justify-content: center;
}