.footer{
    background-color:rgb(82, 81, 81);
    padding:10px;
    margin-top:30px;
    color:rgb(188, 187, 187);
}

h2{
    text-align: center;
}

.call-part{
    display:flex;
    flex-direction:column;
    align-items:end;
    justify-content:end;
}

.Add-part{
    display:flex;
    flex-direction: column;
}

.footer-details{
    display:flex;
    justify-content: space-between;
}