.navbar {
  background-color: #dd2476;
  padding: 15px 40px;
  position:sticky;
  top:0;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: end;
  gap: 30px;
}

.navbar ul li {
  color: white;
  font-weight: bold;
  cursor: pointer;
}
